{
  "token": "YOUR_BOT_TOKEN",
  "logFileName": null,
  "poolTimeout": 20,
  "monitorSleep": 60,
  "master": USER_ID,
  "chat": CHAT_ID,
  "hosts": [
    ["1.2.3.4","srv1"],
    ["4.3.2.1", "srv2"]
  ]
}
